<!DOCTYPE html>
<html>
<head>
    <title>Add Item</title>
</head>
<body>

<h2>Add Lost Item</h2>

<form method="POST" enctype="multipart/form-data">
    Item Name: <input type="text" name="item_name"><br><br>
    Description: <input type="text" name="description"><br><br>
    Contact: <input type="text" name="contact"><br><br>

    Image: <input type="file" name="image"><br><br>
<a href="/items">
<button type="button">view items</button></a>
    <button type="submit">Submit</button>
</form>

</body>
</html>